<div data-controller="data-binding" data-binding-debug="false">
  <form>
    <input id="test1" type="text" data-action="change->data-binding#update" data-binding-target="test1"
      data-binding-property="textContent" data-binding-value="'never changes'" />

    <input id="test2" type="text" data-action="change->data-binding#update" data-binding-target="test2"
      data-binding-property="textContent" data-binding-value="$source.value" />

    <input id="test3" type="text" data-action="change->data-binding#update" data-binding-target="test3"
      data-binding-attribute="data-foo" data-binding-value="$source.value" />

    <input id="test4" type="text" data-action="change->data-binding#update"
      data-binding-condition="$source.value === 'does'" data-binding-target="test4" data-binding-attribute="foo"
      data-binding-value="$source.value" />

    <input id="test5" type="text" data-action="change->data-binding#update"
      data-binding-condition="$source.value !== 'doesnt'" data-binding-target="test5"
      data-binding-property="textContent" data-binding-value="`edited-${$source.value}`" />

    <input id="test6" type="text" data-action="change->data-binding#update"
      data-binding-condition="$source.value === ''" data-binding-target="test6" data-binding-attribute="hidden"
      value="something" />

    <input id="test7" type="number" data-action="change->data-binding#update" data-binding-condition="$source.value > 7"
      data-binding-target="test7" data-binding-attribute="hidden" value="5" />

    <input id="test8" type="number" data-action="change->data-binding#update"
      data-binding-condition="$source.value <= 4" data-binding-target="test8" data-binding-attribute="hidden"
      value="10" />

    <input id="test9" type="checkbox" data-action="change->data-binding#update"
      data-binding-condition="!$source.checked" data-binding-target="test9" data-binding-attribute="disabled hidden"
      data-binding-value="true" checked value="1" />

    <select id="test10" data-action="change->data-binding#update"
      data-binding-condition="$source.value !== $target.dataset.id" data-binding-target="test10"
      data-binding-attribute="hidden">
      <option value="1" selected>ID: 1</option>
      <option value="2">ID: 2</option>
    </select>

    <input id="test11" type="text" data-action="change->data-binding#update" data-binding-target="test11"
      data-binding-property="textContent" />

    <button id="test12" data-action="click->data-binding#update" data-test-val="badger" data-binding-target="test12"
      data-binding-property="textContent" data-binding-value="$source.dataset.testVal"
      data-binding-initial="false"></button>

    <button id="test13" data-action="click->data-binding#update" data-test-val="badger" data-binding-target="test13"
      data-binding-property="textContent" data-binding-value="$source.dataset.testVal"
      data-binding-initial="true"></button>

    <input id="test14" type="text" data-action="change->data-binding#update" data-binding-target="test14"
      data-binding-initial="false" />
    <input data-binding-ref="test14" type="text" data-binding-property="value" data-binding-value="$source.value"
      data-binding-event="change">

    <input id="test15" type="checkbox" data-action="change->data-binding#update"
      data-binding-condition="$source.checked" data-binding-target="test15" data-binding-class="activated" />
    <input id="test16" type="checkbox" data-action="change->data-binding#update"
      data-binding-condition="$source.checked" data-binding-target="test16" data-binding-class="activated" checked />
  </form>

  <div data-binding-ref="test1"></div>
  <div data-binding-ref="test2"></div>
  <div data-binding-ref="test3"></div>
  <div data-binding-ref="test4"></div>
  <div data-binding-ref="test5"></div>
  <div data-binding-ref="test6"></div>
  <div data-binding-ref="test7"></div>
  <div data-binding-ref="test8"></div>
  <div data-binding-ref="test9"></div>
  <div id="test10">
    <div data-binding-ref="test10" data-id="1"></div>
    <div data-binding-ref="test10" data-id="2"></div>
  </div>
  <div id="test11">
    <div data-binding-condition="$source.value === '1'" data-binding-value="'one'" data-binding-ref="test11"
      id="test11-1"></div>
    <div data-binding-condition="$source.value === '2'" data-binding-value="'two'" data-binding-ref="test11"
      id="test11-2"></div>
    <div data-binding-condition="$source.value === '3'" data-binding-value="'three'" data-binding-ref="test11"
      id="test11-3"></div>
  </div>
  <div data-binding-ref="test12"></div>
  <div data-binding-ref="test13"></div>
  <div data-binding-ref="test15"></div>
  <div data-binding-ref="test16" class="activated"></div>
</div>

<div data-controller="data-binding" data-binding-debug="true">
</div>